html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 33%;
  text-align: center;
}

header {
  text-align: center;
}

a:hover {
  color:rgb(67, 30, 254);
  text-decoration: none;
}

a:visited {
  color:rgb(67, 30, 254);
}

#sketch-container {
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 10px;
}

main {
  display: flex;
  margin-top: 75px;
}

canvas {
  width: 500px;
  height: 500px;
}

a {
  color: black;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  aside {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
  }

}
